.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(106, 17, 12);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 20vmin);
  color: white;
}

.App-header img {
  width: 500px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-top: 0px;
}

.App-main {
  background-color: rgb(106, 17, 12);
  padding-left: 20px;
  padding-top: 100px;
}

.searchText {
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

.App-main .search-inner {
  align-items: center;
}

.App-main .search-input {
  padding-left: 10px;
  width: 400px;
  height: 60px;
  font-size: 20px;
  font-family: raleway;
  color: rgb(46, 46, 46);
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: raleway;
}

.App-main button {
  width: 100px;
  font-size: 20px;
  height: 65px;
  font-family: raleway;
  color: rgb(218, 214, 214);
  background-color:rgb(25, 24, 24);
}

.dropdown {
  background-color:white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(101, 101, 101);
  width: 511px;
  font-size: 25px;
  color: rgb(46, 46, 46);
}

.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.result {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  width: 85%;
  color:rgb(106, 17, 12);
  font-family: Raleway;
}

.courseName {
  font-family: Raleway;
  font-weight: bold;
  padding-top: 0px;
  font-size: 40px;
}

.courseDescription {
  text-align: left;
}

.courseCode {
  text-align: left;
  font-size: 30px;
}

.recommend {
  font-weight: bold;
}
