.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(106, 17, 12);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 20vmin);
  color: white;
}

.App-header img {
  width: 500px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-top: 0px;
}

.App-main {
  padding-left: 20px;
  padding-top: 100px;
}

.App-main .search-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.App-main .search-input {
  margin-bottom: 20px;
  text-align: center;
  width: 400px;
  height: 70px;
  font-size: 25px;
  border-radius: 50px;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-main button {
  margin-left: 10px;
  width: 100px;
  font-size: 20px;
  border-radius: 20px;
}
.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  width: 200px;
}

.result {
  margin: 60px;
  padding: 50px;
  background-color: rgb(106, 17, 12);
  border-radius: 20px;
  
}
.courseName {
  padding-top: 0px;
  font-size: 30px;
  color: white;
}

.courseDescription {
  color:white;
  text-align: left;
}
